@use "variables" as var;

html {
  box-sizing: border-box;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body-container {
  width: 99%;
  text-align: center;
  max-width: 1024px;
  margin: 100px auto 0 auto;
  padding: 40px 20px;
  border-radius: 20px;
  //   background: radial-gradient(
  //     circle 476px at 54.8% 250px,
  //     rgba(168, 229, 253, 1) 0%,
  //     rgba(244, 244, 254, 1) 42.3%,
  //     rgba(244, 244, 254, 1) 100.2%
  //   );
  color: #333;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.06);
  line-height: 1.5;
  transition: 0.4s all ease;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;

  &--wide {
    max-width: 1600px;
  }
  &--wideXL {
    max-width: 1720px;
  }
}

.nav {
  padding: 0;
}

.nav-item {
  list-style: none;
}
