#tab-skills {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;

    .card {
      h4::after {
        content: "";
        display: block;
        width: 90%;
        margin: 8px auto;
        height: 30px;
        border-radius: var(--radius);
        background: rgb(var(--color-accent-rgb) / 0.25);
      }

      &:nth-child(1) h4::after {
        background: linear-gradient(
          to right,
          var(--color-accent) 90%,
          rgb(var(--color-accent-rgb) / 0.25) 90%
        );
      }
      &:nth-child(2) h4::after {
        background: linear-gradient(
          to right,
          var(--color-accent) 90%,
          rgb(var(--color-accent-rgb) / 0.25) 90%
        );
      }

      &:nth-child(3) h4::after {
        background: linear-gradient(
          to right,
          var(--color-accent) 75%,
          rgb(var(--color-accent-rgb) / 0.25) 75%
        );
      }

      &:nth-child(4) h4::after {
        background: linear-gradient(
          to right,
          var(--color-accent) 40%,
          rgb(var(--color-accent-rgb) / 0.25) 40%
        );
      }

      &:nth-child(5) h4::after {
        background: linear-gradient(
          to right,
          var(--color-accent) 15%,
          rgb(var(--color-accent-rgb) / 0.25) 15%
        );
      }

      &:nth-child(6) h4::after {
        content: "B2+";
        line-height: 30px;
        background: linear-gradient(
          to right,
          var(--color-accent) 85%,
          rgb(var(--color-accent-rgb) / 0.25) 85%
        );
      }

      &:nth-child(7) h4::after {
        content: "B1";
        line-height: 30px;
        background: linear-gradient(
          to right,
          var(--color-accent) 50%,
          rgb(var(--color-accent-rgb) / 0.25) 50%
        );
      }
    }
  }
}
