@use "variables" as var;

/* Base styles (platí pro všechny) */
html {
  transition: background 0.3s ease, color 0.3s ease;
  color: var(--color-text);

  a {
    color: var(--color-link);
  }

  .body-container {
    background: var(--color-bg);
  }
}

/* Explicit Light */
html[data-theme="light"] {
  background: #fff;
}

/* Explicit Dark */
html[data-theme="dark"] {
  background: #0f1214;
}

/* System mode */
html[data-theme="system"] {
  background: #fff;

  @media (prefers-color-scheme: dark) {
    background: #0f1214;
  }
}

.theme-switch {
  display: flex;
  gap: 8px;
  bottom: 20px;
  justify-content: center;
  z-index: 1000;
  margin-top: 100px;
  margin-bottom: 20px;

  button {
    padding: 8px 12px;
    border-radius: var(--radius);
    border: none;
    background: var(--color-glass);
    color: var(--color-text);
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background: rgba(var(--color-accent-rgb) / 0.1);
      box-shadow: var(--box-shadow-accent);
    }

    &[aria-pressed="true"] {
      background: rgba(var(--color-accent-rgb) / 0.2);
      box-shadow: var(--box-shadow-accent);
    }
  }
}
