html[data-theme="light"] {
  .body-container {
    background: radial-gradient(
      circle 476px at 54.8% 250px,
      rgba(244, 244, 254, 1) 0%,
      rgba(168, 229, 253, 1) 42.3%,
      rgba(168, 229, 253, 1) 100.2%
    );
    color: #333;
  }
}

html[data-theme="dark"] {
  .body-container {
    background: #333;
    color: #fff;
  }
}

html[data-theme="system"] {
  @media (prefers-color-scheme: light) {
    .body-container {
      background: radial-gradient(
        circle 476px at 54.8% 250px,
        rgba(244, 244, 254, 1) 0%,
        rgba(168, 229, 253, 1) 42.3%,
        rgba(168, 229, 253, 1) 100.2%
      );
      color: #333;
    }
  }
  @media (prefers-color-scheme: dark) {
    .body-container {
      background: #333;
      color: #fff;
    }
  }
}
